.crucifixion-root {
  display: flex;
}
  
  .crucifixion-root strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  .crucifixion-root p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  .crucifixion-root a {
    text-decoration: none;
  }


/* iOS places the subtitle above the title */
ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}